body {
  background-color: #102745;
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
  padding: 10px;
  background: url(nba-08.jpg);
  background-size: cover;
  min-height: 110vh;
  width: 100%;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 150px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 0px;
}

#nav-links {
  display: flex;
  gap: 70px;
  list-style: none;
}

#nav-links a {
  text-decoration: none;
  color: #b98345, #ffdae9;
  font-size: larger;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#nav-links a:hover {
  color: #45ae86;
}

.nav-icon {
  display: none;
}

@media (max-width: 768px) {
  .nav-icon {
    display: block;
  }

  #nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #222;
    width: 200px;
    height: 0px;
    overflow: hidden;
    flex-direction: column;
    text-align: right;
    padding-right: 20px;
    gap: 20px;
    transition: height 0.3s ease;
  }
  nav-links.active {
    height: 180px;
    padding-top: 20px;
  }
}
