body {
    background-color: #102745;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    border-radius: 50px;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 150px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ff4500;
}

#nav-links {
    display: flex;
    gap: 70px;
    list-style: none;
}

#nav-links a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav-links a:hover {
    color: #45ae86;
}