body {
  background-color: #102745;
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
  padding: 0px;
  background: url(nba-08.jpg);
  background-size: cover;
  min-height: 110vh;
  width: 100%;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 150px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 0px;
}

#nav-links {
  display: flex;
  gap: 70px;
  list-style: none;
}

#nav-links a {
  text-decoration: none;
  color: #b98345, #ffdae9;
  font-size: larger;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#nav-links a:hover {
  color: #45ae86;
}

.hamburger {
  display: none;
  width: 40px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
}
.bar {
  display: block;
  height: 3px;
  background: #fff;
  margin: 5px 0;
  border-radius: 2px;
  transition: 0.3s;
}


@media (max-width: 768px) {
  #nav-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background: #222;
    padding: 15px;
    flex-direction: column;
    border-radius: 8px;
    width: 160px;
}

  #nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}
